Q1.Create one variable containing following type of data:

In [4]:
a="arnav"

In [5]:
type(a)

str

In [6]:
l=[1,2,34,"pwskills","Lab",True,34.5]

In [7]:
type(l)

list

In [8]:
b=34.45

In [9]:
type(b)

float

In [11]:
t=(23,4,67)

In [12]:
type(t)

tuple

Q2.Given are some following variables containing data.And what will be the data type of the above given variable

In [16]:
val=''

In [17]:
type(val)

str

In [18]:
var2='[DS,ML,PYTHON]'

In [19]:
type(var2)

str

In [20]:
var3='[DS,ML,PYTHON]'

In [21]:
type(var3)

str

In [22]:
var4=1

In [23]:
type(var4)

int

Q3.Explain the use of the following operators using an example:
(i) / (Division):
This operator performs regular division, dividing one number by another and returning the quotient (result of the division).

Example: 10 / 3 = 3.3333 (May vary based on programming language settings)

(ii) % (Modulo):
This operator finds the remainder after dividing one number by another. It returns the value that is leftover after the division is complete.

Example: 10 % 3 = 1 (10 divided by 3 leaves a remainder of 1)

(iii) // (Floor Division):
This operator performs integer division, dividing one number by another and returning the largest whole number less than or equal to the quotient. It discards the fractional part.

Example: 10 // 3 = 3 (10 divided by 3 is 3.3333, but floor division truncates to 3)

(iv) ** (Exponentiation):
This operator raises the left operand (base) to the power of the right operand (exponent). It calculates the base multiplied by itself the number of times specified by the exponent.

Example: 2 ** 3 = 8 (2 raised to the power of 3 is 2 x 2 x 2 = 8)

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [24]:
l=[1,2,3,4,5,6,"arnav","darbhanga",34.5,True]

In [25]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
arnav <class 'str'>
darbhanga <class 'str'>
34.5 <class 'float'>
True <class 'bool'>

Q4. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
a=int(input())
b=int(input())
count=0
while a%b==0:
    a//=b
    count+=1
if count>0:
    print(f"{a} is purely divisible by {b} and divisible {count} times")
else:
    print(f"{a} is not purely divisible by {b}.")

 80
 2

5 is purely divisible by 2 and divisible 4 times

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
l=[25]
for i in l:
    if i%3==0:
        print("Yes 25 is divisible by 3")
    else:
        print("No 25 is not divisible by 3")

No 25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types:-These are data types whose values can be modified after they are created.Examples: List ,Dictionaries

In [14]:
l=[12,3,45,67,8,90]

In [15]:
l

[12, 3, 45, 67, 8, 90]

In [12]:
l[0]=78

In [13]:
l

[78, 3, 45, 67, 8, 90]

In [16]:
mydict={"Name":"Arnav",
       "Age":19}

In [17]:
mydict.keys()

dict_keys(['Name', 'Age'])

In [18]:
mydict.values()

dict_values(['Arnav', 19])

In [19]:
mydict['Age']=[21]

In [20]:
mydict

{'Name': 'Arnav', 'Age': [21]}

Immutable data types:-These are data types whose values cannot be modified after they are created.Example:-String,tuple

In [21]:
t=(23,4,5,67)

In [22]:
t

(23, 4, 5, 67)

In [23]:
t[0]

23

In [24]:
t[0]=23

TypeError: 'tuple' object does not support item assignment

In [25]:
s="Arnav"

In [26]:
s

'Arnav'

In [27]:
s[0]

'A'

In [29]:
s[0]="p"

TypeError: 'str' object does not support item assignment