Q1. How do you comment code in Python? What are the different types of comments?
Ans:- comment code used in python to understand the written code by any programmer .what types of step to taken by progrmmer to write a code.If we consider a comment.then it is ignored by the python interpreter.
There are two different types of comment.
1.Single-line comment(#) using before a single line code or line.
Example:-#This is my first program
2.Triple quotes(''',""") used to comment multiple line of the code.
Example:-'''This program is written in python code.
Python is easy and high level language.
It is portable language'''

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans:-Variable:-Variable is name given to a memory location.Variable is declaration using keywords like var or int.and assigning a value to a variable name


3.How do you convert one data type to another in Python?
Ans:-we can covert one data type to another using built-in functions or constructors specific to each data type.
Example:-int():- Converts a value to an integer.
float():- Converts a value to a floating-point number.
str():- Converts a value to a string.
list():- Converts a sequence (e.g., tuple, string) to a list.
tuple():- Converts a sequence (e.g., list, string) to a tuple.
set():- Converts a sequence (e.g., list, tuple) to a set.
dict():- Converts a sequence of key-value pairs (e.g., list of tuples) to a dictionary.

Q4. How do you write and execute a Python script from the command line?
Ans:-step1:-create a new text file using a text editor of your choice.
step2:-Save the file with a name ending in the .py extension (e.g., my_script.py).
step3:-Write your Python code within the file
step4:-search command prompt in start menu and launch it.
step5:-Use the python command followed by the script filename (including the .py extension) to execute the script.
step6:-Type cd Desktop and press Enter to navigate to your Desktop directory.
step7:-Type python hello.py and press Enter.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list=[1,2,3,4,5]

In [2]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?
Ans:-Complex number in mathematics:-3+4i
In python :-5+6j

In [3]:
c=5+6j

In [4]:
c

(5+6j)

In [5]:
type(c)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
Ans:- age=25

In [6]:
age=25

In [7]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?
Ans:-price=9.99
Float data types of this variable name

In [8]:
price=9.99

In [9]:
price

9.99

In [10]:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [12]:
name="Arnav"

In [13]:
name #printing the data types

'Arnav'

Q10. Given the string "Hello, World!", extract the substring "World".

In [14]:
a="Hello,World!"

In [17]:
a[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [18]:
is_student=True #if you are currently a student
#or
is_student=False #if you are not currently a student

In [19]:
1

1